@import "https://npmcdn.com/react-bootstrap-table@4.3.1/dist/react-bootstrap-table-all.min.css";
@import "https://allenfang.github.io/react-bootstrap-table/css/bootstrap.css";

html,
body {
  font-family: sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.pagination {
  margin: 0;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 1em;
}

#dashboard {
  margin: 0 auto;
}

.frame {
  border: 1px solid #dadada;
  padding: 16px;
}

.selectedFilters span {
  font-size: 11px;
  background: salmon;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.map,
.table,
.charts,
.filters,
.filter-wrapper,
.react-bs-table-container,
.selectedFilters {
  width: 100%;
  max-width: 800px;
  margin: 16px auto;
}

.map,
.table,
.charts {
  min-height: 400px;
}

.filter-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
}

.filters select {
  width: 100%;
}

fieldset {
  float: left;
  margin-right: 8px;
}

.react-bs-table-container {
  height: auto;
}

.charts {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 16px;
}

.chart {
  width: 100%;
  height: 400px;
}

button {
  background: darkolivegreen;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  border: none;
}
